header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: fixed;
    left: 30px;
}

.gear{
    background-color:black;
    border-radius: 50px;
    padding: 10px;
    width: 55px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gear i{
    color: white;
}
.profile-menu-icons{
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.profile-menu-icons li{
    background-color: white;
    padding:8px;
    border-radius: 50%;
    cursor: pointer;
}
i{
    color: black;
}
@media (max-width:992px){
   header{
    left:15px;
   }
}

@media (max-width:576px){
   header{
    left:10px;
    margin-top: 20px;
   }
}