.home{
    width: 100%;
    padding: 40px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 30px 0px 0px;
}
.home-1{
    font-size: 30px;
}
.home-1-1{
    color: var(--main-color);
}
.home-2{
    width: 80%;
    font-size: 50px;
    margin-top: 10px;
    padding-right: 100px;
}
.home-2-1{
    color: black;
    background-color: var(--main-color);
    border-radius: 40px;
    padding: 6px 15px;
    font-size: 45px;
    font-weight: 600;
}
.home-3{
    margin-top: 15px;
    width: 80%;
    font-size: 15px;
}
.rewards{
    margin-top: 40px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-1{
    font-size: 45px;
}
.box-2{
    width: 100px;
    font-size: 15px;
}
@media (max-width:992px){
   .home-2{
    font-size: 40px;
    width: 100%;
   }
   .home-2-1{
    padding: 3px 8px;
    font-size: 35px;
   }
   .box-1{
    font-size: 35px;
   }
   .box-2{
    font-size: 15px;
   }
}

@media (max-width:576px){
    .home{
        padding: 25px;
        border-radius: 30px 30px 0px 0px;
    }
    .home-1{
        font-size: 20px;
    }
    .home-2{
        font-size: 25px;
        width: 100%;
    }
    .home-2-1{
        padding: 3px 8px;
        font-size: 20px;
    }
    .home-3{
        font-size: 18px;
    }
    .box-1{
        font-size: 30px;
    }
    .box-2{
        font-size: 10px;
        width: 100%;
    }
    .rewards{
        margin-top: 40px;
        width: 75%;
        display: flex;
        flex-direction: column;
    }
}