.profile-card{
    width:400px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0px 30px 30px;
    gap:20px;
    position: fixed;
    left: 115px;
}
.profile-img{
    width: 200px;
    margin-top: 50px;
    border-radius: 30px 0 30px 30px;
}
.caption{
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--main-color);
}
.social{
    display: flex;
    gap: 10px;
}
.social i{
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38,38,38);
    border:1px solid rgb(69,69,69);
    border-radius: 50%;
    transition: 0.5s ease;
}
.social i:hover{
    color: var(--main-color);
}
.btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:70px;
    border-top: 1px solid rgb(67,67,67);
    width: 100%;
}
.btns-1,.btns-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(67,67,67);
    color: white;
    transition: 0.5s ease;
}
.btns-1:hover,.btns-2:hover{
    color: var(--secondary-color);
}
@media (max-width:992px){
 .profile-card{
    width: 300px;
    position: fixed;
    left: 85px;
 }
}

@media (max-width:576px){
    .profile-card{
        width: 95%;
        position: static;
        margin-left: 80px;
        margin-right: 10px;
    }
}