.projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 100%;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0px;
    padding: 0;
}
.projects-list li{
    color: white;
    background: transparent;
    border: 1px solid rgb(69,69,69);
    padding: 6px 20px;
    font-size: 0.8rem;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}
.projects-list li:hover{
    background: rgb(255,255,255,0.1);
}
.projects-list li.active{
    border: none;
    background-color: var(--main-color);
    color: black;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,300px));
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    margin-top: 20px;
}
.projects-box{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255,255,255,0.05);
    transition: 0.3s ease;
}
.projects-box:hover{
   transform: translateY(-5px);
   box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}
.projects-box-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.projects-box-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.projects-box-text-box{
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    padding: 15px;
}
.projects-box-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.projects-box-text strong{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.projects-box-text span{
    color: #ccc;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.projects-box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 1.2rem;
    cursor: pointer;
}
.projects-box-btn i{
    color: white;
}

@media (max-width:992px){
  .projects-container{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
}

@media (max-width:576px){
    .projects-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .projects{
        padding: 25px;
    }
}